/.venv
logs
BANKING_XAI_PROJECT/logs/**/*.log*
BANKING_XAI_PROJECT/models/**
BANKING_XAI_PROJECT/data/processed/**
__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
PPT/slide1.html
PPT/slide2.html
PPT/slide3.html
PPT/slide4.html
PPT/slide5.html
PPT/slide6.html
PPT/slide7.html
PPT/slide8.html
PPT/slide9.html
PPT/slide10.html
